# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
venv/
.env/

# Audio temp files
*.wav
*.mp3

# OS
.DS_Store

# VS Code
.vscode/

# Whisper cache (optional)
*.pt
__pycache__/
*.pyc
*.wav
*_transcription.txt
venv/
.env/